@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: SUITE-Regular;
    text-decoration: none !important;
    color: black;
}

/* body 관련 css 시작 */
html,
body {
    width: 100%;
    height: 100%;
}

h2 {
    text-align: center !important;
}

/* body::-webkit-scrollbar {
    display: none;
} */

body {
    /* -ms-overflow-style: none; */
    background-color: rgba(170, 170, 170, 1);
    background-attachment: fixed;
    padding-left: 0 !important;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrap-left-250 {
    padding: 130px 300px 150px;
    height: 100%;
    @media (max-width: 1100px) {
        padding: 130px 100px 150px;
    }
}

ul,
ol {
    padding-left: 0 !important;
}

p {
    margin-bottom: 0 !important;
}

#random-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#review-movie {
    margin: 30px 100px;
}

#review_box {
    margin: 30px 300px;
}
/* body 관련 css 끝 */

/* nav-bar 관련 css 시작 */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    padding: 0px 85px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(139, 0, 0, 1);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 7px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 45px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>a {
    color: #FFF6C3;
}

.balancer {
    width: 5%;
    height: 100%;
}

/* nav-bar 관련 css 끝 */

/* side-bar 관련 css 시작 */
.sidebar-wrap {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 15%;
    height: 100%;
    background-color: rgb(116, 14, 14);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-wrap_login {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 15%;
    height: 100%;
    background-color: rgb(116, 14, 14);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-nav {
    width: 100%;
    height: 30%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar-nav>li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    height: 25%;
    width: 100%;
    transition: 0.3s;
}

.sidebar-nav>li>a {
    color: #FFF6C3;
}

.sidebar-nav>li:hover {
    background-color: black;
}

.slide_btn {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    width: 5%;
    height: 100%;
    padding-left: 50px;
}

.slide_btn>p {
    color: rgba(139, 0, 0, 1);
}

.slide_btn:hover {
    cursor: pointer;
}

.slide_btn:hover>p {
    color: rgba(15, 15, 15, 1);
    font-size: 80px;
    transition: 0.3s;
}

/* side-bar 관련 css 끝 */

/* footer 관련 css 시작 */
footer {
    /* position: fixed;
    bottom: 0%; */
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 30px; */
    border-top: 2px solid rgba(139, 0, 0, 1);
}

footer>p {
    font-size: 16px;
    font-weight: bold;
    color: #FFF6C3;
}

.team_box {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.team_box>li {
    font-size: 16px;
    font-weight: bold;
    width: 170px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team_box>li>p {
    color: #FFF6C3;
}

.team_box>li>a {
    color: #FFF6C3;
    transition: 0.5s;
}

.team_box>li:nth-child(1)>a:hover {
    color: white;
}

.team_box>li:nth-child(2)>a:hover {
    color: white;
}

.team_box>li:nth-child(3)>a:hover {
    color: white;
}

.team_box>li:nth-child(4)>a:hover {
    color: white;
}

/* footer 관련 css 끝 */