* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

/* body 관련 css 시작 */
html,
body {
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

.background {
    padding-top: 100px;
    width: 100%;
}

.body_cont {
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
}

/* footer 위치 관련 */
/* .wrap-left-250 {
    height: auto;
    min-height: 100% !important;
    padding-bottom: 70px;
} */
/* body 관련 css 끝 */

/* 마이 페이지 관련css */
.review-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.review-card img {
    width: 100px;
    height: 100px;
}

.review-card .content-cell {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.review-card .rate-cell {
    font-weight: bold;
}