.wrap-left-250 {
    padding: 130px 250px 150px;
    height: auto !important;
}

#selected-movies {
    padding-bottom: 100px !important;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}