* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.wrap-left-250 {
    padding: 130px 250px 150px;
    height: auto !important;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}