.reload_btn {
    margin: 0px auto;
    text-align: center;
    width: 200px;
    height: 60px;
}

.button-red {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(139, 0, 0, 1);
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
    transition: 0.3s;
}

.button-red:hover {
    cursor: pointer;
    background-color: rgb(116, 14, 14);
    color: #FFF6C3;
}

.wrap-left-250 {
    padding: 130px 250px 150px;
    height: auto !important;
}