* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

/* body 관련 css 시작 */
html,
body {
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 1);
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 70px;
}

.banner {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    height: 20%;
}

/* body 관련 css 끝 */

/* 로그인 관련 css 시작 */
.form {
    /* padding-top: 200px; */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 30%;
    margin-bottom: 400px;
}

.inputs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.form input {
    width: 100%;
    height: 50px;
    outline: 0px;
    font-size: 23px;
    font-weight: bold;
    color: rgba(140, 140, 140, 1);
    border: 2px solid rgba(220, 220, 220, 1);
    border-radius: 10px;
    padding-left: 15px;
    box-shadow: rgb(0 0 0 / 3%) 0px 0px 6px 3px;
}

.button_box {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.button_box>button {
    width: 200px;
    height: 50px;
    border: 2px solid rgba(139, 0, 0, 1);
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
    transition: 0.3s;
}

.button_box>button:hover {
    cursor: pointer;
    background-color: rgb(116, 14, 14);
    color: #FFF6C3;
}

.button_box>a {
    margin-top: 10px;
    font-size: 16px;
}

.button_box>a:hover {
    color: rgb(116, 14, 14);
}

/* 로그인 관련 css 끝 */