h1 {
    text-align: center;
    margin: auto;
}

#page-wrapper {
    padding-left: 250px;
  }
  
  #sidebar-wrapper {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    background: #850000;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  #page-content-wrapper {
    width: 100%;
    padding: 20px;
  }
  /* 사이드바 스타일 */
  
  .sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFF6C3;
  }
  
  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.7rem;
    line-height: 3em;
  }

.top-logo {
    background-color: #000000;
    color: #FFF6C3;
    font-size: 4rem;
    text-align: center;
    margin: auto;
    padding: 30px;
}

.signin-form {
    margin: auto;
    margin-top: 150px;
    text-align: center;
    justify-content: center;
    width: 500px;
}

.wrap-margin-50 {
    margin: 50px;
}

.button-red{
    background-color: #850000;
    border-color: #850000;
    color: #FFF6C3;
    width: 100px;
    height: 40px;
}