@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: SUITE-Regular;
}

h1 {
  text-align: center;
  margin: auto;
}

h2 {
  margin-top: 200px !important;
}

/* 사이드바 */
#page-wrapper {
  padding-left: 250px;
  margin-top: 150px;
  z-index: 2;
}

#sidebar-wrapper {
  top: 150px;
  position: fixed;
  width: 250px;
    height: 100%;
    margin-left: -250px;
    background: #850000;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  #page-content-wrapper {
    width: 100%;
    padding: 20px;
  }
  /* 사이드바 스타일 */
  
  .sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFF6C3;
  }
  
  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.7rem;
    line-height: 3em;
  }
  
/* 사이드바 때문에 마진 250을 준 최상위div를 항상 줘야 합니다 */
.wrap-left-250 {
  margin-left: 250px;
}

/* 로고 */
.top-logo {
  position: fixed;
  background-color: #000000;
  top: 0px;
  width: 100%;
  height: 150px;
  color: #FFF6C3;
  font-size: 4rem;
  text-align: center;
  margin: auto;
  padding: 30px;
  z-index: 2;
}

.signin-form {
  margin: auto;
  margin-top: 300px;
  text-align: center;
  justify-content: center;
  width: 500px;
}

.wrap-margin-50 {
  margin: 50px;
}

.wrap-margin-100 {
  margin: 100px;
}

.button-red{
  background-color: #850000;
  border-color: #850000;
  color: #FFF6C3;
  width: 100px;
  height: 40px;
}

/* 마이 페이지 관련css */
.review-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.review-card img {
  width: 100px;
  height: 100px;
}

.review-card .content-cell {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.review-card .rate-cell {
  font-weight: bold;
}